profkat-sample-webapp/src/main/resources/datamodel-person.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml-2001.xsd"/>
<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink-2008-06.xsd"/>
<xsd:simpleType name="mcrdefaulttype">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="mcrdefaultform">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="mcrdateformat">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="mcrobjectid">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="mcrcategory">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="128"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="mcrdimension">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="128"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="mcrmeasurement">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="mycoreobject" type="MCRObject"/>
<xsd:complexType name="MCRObject">
<xsd:all>
<xsd:element name="structure" type="MCRObjectStructure" minOccurs="1" maxOccurs="1"/>
<xsd:element name="metadata" type="MCRObjectMetadata" minOccurs="1" maxOccurs="1"/>
<xsd:element name="service" type="MCRObjectService" minOccurs="1" maxOccurs="1"/>
</xsd:all>
<xsd:attribute name="ID" type="xsd:string" use="required"/>
<xsd:attribute name="label" type="xsd:string" use="required"/>
<xsd:attribute name="version" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="MCRObjectStructure">
<xsd:sequence>
<xsd:element name="children" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="child" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute ref="xlink:type"/>
<xsd:attribute ref="xlink:href" use="optional"/>
<xsd:attribute ref="xlink:title" use="optional"/>
<xsd:attribute ref="xlink:label" use="optional"/>
<xsd:attribute ref="xlink:from" use="optional"/>
<xsd:attribute ref="xlink:to" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLinkID"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="parents" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="parent" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute ref="xlink:type"/>
<xsd:attribute ref="xlink:href" use="optional"/>
<xsd:attribute ref="xlink:title" use="optional"/>
<xsd:attribute ref="xlink:label" use="optional"/>
<xsd:attribute ref="xlink:from" use="optional"/>
<xsd:attribute ref="xlink:to" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLinkID"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="derobjects" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="derobject" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute ref="xlink:type"/>
<xsd:attribute ref="xlink:href" use="optional"/>
<xsd:attribute ref="xlink:title" use="optional"/>
<xsd:attribute ref="xlink:label" use="optional"/>
<xsd:attribute ref="xlink:from" use="optional"/>
<xsd:attribute ref="xlink:to" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLinkID"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
    </xsd:sequence>
<xsd:attribute ref="xml:lang"/>
</xsd:complexType>
<xsd:complexType name="MCRObjectMetadata">
<xsd:all>
<xsd:element name="box.surname" minOccurs="1" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="surname" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.firstname" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="firstname" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.nameaffix" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="nameaffix" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.academictitle" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="academictitle" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.professorship" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="professorship" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="1" maxOccurs="20">
<xsd:element name="text" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="calendar" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ivon" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="von" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ibis" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="bis" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="event" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="classification" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:attribute name="classid" use="required" type="mcrobjectid"/>
<xsd:attribute name="categid" use="required" type="mcrcategory"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="xsd:string"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaHistoryEvent"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.period" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="period" minOccurs="0" maxOccurs="5">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="text" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="calendar" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ivon" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="von" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ibis" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="bis" type="xsd:string" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="xsd:string"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaHistoryDate"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.institute" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="institute" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.fieldofstudy" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="fieldofstudy" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.subjectclass" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="subjectclass" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:attribute name="classid" use="required" type="mcrobjectid"/>
<xsd:attribute name="categid" use="required" type="mcrcategory"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaClassification"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.faculty" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="faculty" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="1" maxOccurs="20">
<xsd:element name="text" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="calendar" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ivon" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="von" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ibis" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="bis" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="event" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="classification" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:attribute name="classid" use="required" type="mcrobjectid"/>
<xsd:attribute name="categid" use="required" type="mcrcategory"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="xsd:string"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaHistoryEvent"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.email" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="email" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.homepage" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="homepage" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute ref="xlink:type"/>
<xsd:attribute ref="xlink:href" use="optional"/>
<xsd:attribute ref="xlink:title" use="optional"/>
<xsd:attribute ref="xlink:label" use="optional"/>
<xsd:attribute ref="xlink:from" use="optional"/>
<xsd:attribute ref="xlink:to" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLink"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.birth" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="birth" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="1" maxOccurs="20">
<xsd:element name="text" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="calendar" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ivon" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="von" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ibis" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="bis" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="event" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="classification" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:attribute name="classid" use="required" type="mcrobjectid"/>
<xsd:attribute name="categid" use="required" type="mcrcategory"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="xsd:string"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaHistoryEvent"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.death" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="death" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="1" maxOccurs="20">
<xsd:element name="text" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="calendar" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ivon" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="von" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ibis" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
<xsd:element name="bis" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="event" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="classification" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:attribute name="classid" use="required" type="mcrobjectid"/>
<xsd:attribute name="categid" use="required" type="mcrcategory"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="xsd:string"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaHistoryEvent"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.sex" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="sex" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.confession" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="confession" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.family" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="family" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence maxOccurs="unbounded">
<xsd:any namespace="##any" minOccurs="0" processContents="skip"/>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaXML"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.biographic" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="biographic" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence maxOccurs="unbounded">
<xsd:any namespace="##any" minOccurs="0" processContents="skip"/>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaXML"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.academicdegree" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="academicdegree" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence maxOccurs="unbounded">
<xsd:any namespace="##any" minOccurs="0" processContents="skip"/>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaXML"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.adminfunction" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="adminfunction" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence maxOccurs="unbounded">
<xsd:any namespace="##any" minOccurs="0" processContents="skip"/>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaXML"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.otherfunction" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="otherfunction" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence maxOccurs="unbounded">
<xsd:any namespace="##any" minOccurs="0" processContents="skip"/>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaXML"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.membership" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="membership" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence maxOccurs="unbounded">
<xsd:any namespace="##any" minOccurs="0" processContents="skip"/>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaXML"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.award" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="award" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType mixed="true">
<xsd:sequence maxOccurs="unbounded">
<xsd:any namespace="##any" minOccurs="0" processContents="skip"/>
</xsd:sequence>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaXML"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.otherinfo" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="otherinfo" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.mainpublication" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="mainpublication" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.publicationslink" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="publicationslink" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute ref="xlink:type"/>
<xsd:attribute ref="xlink:href" use="optional"/>
<xsd:attribute ref="xlink:title" use="optional"/>
<xsd:attribute ref="xlink:label" use="optional"/>
<xsd:attribute ref="xlink:from" use="optional"/>
<xsd:attribute ref="xlink:to" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLink"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.source" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="source" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute ref="xlink:type"/>
<xsd:attribute ref="xlink:href" use="optional"/>
<xsd:attribute ref="xlink:title" use="optional"/>
<xsd:attribute ref="xlink:label" use="optional"/>
<xsd:attribute ref="xlink:from" use="optional"/>
<xsd:attribute ref="xlink:to" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLink"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.reference" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="reference" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute ref="xlink:type"/>
<xsd:attribute ref="xlink:href" use="optional"/>
<xsd:attribute ref="xlink:title" use="optional"/>
<xsd:attribute ref="xlink:label" use="optional"/>
<xsd:attribute ref="xlink:from" use="optional"/>
<xsd:attribute ref="xlink:to" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLink"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.complexref" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="complexref" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.identifier" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="identifier" minOccurs="0" maxOccurs="5">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.state" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="state" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="box.type" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="type" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:attribute name="classid" use="required" type="mcrobjectid"/>
<xsd:attribute name="categid" use="required" type="mcrcategory"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaClassification"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
    </xsd:all>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
<xsd:complexType name="MCRObjectService">
<xsd:all>
<xsd:element name="servdates" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="servdate" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="format" use="optional" type="mcrdateformat"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaISO8601Date"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="servflags" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="servflag" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute name="form" use="optional" type="mcrdefaultform"/>
<xsd:attribute name="inherited" use="optional" type="xsd:integer"/>
<xsd:attribute ref="xml:lang"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaLangText"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="servacls" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="servacl" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:any processContents="skip"/>
</xsd:sequence>
<xsd:attribute name="permission" use="required" type="xsd:string"/>
<xsd:attribute name="inherited" use="optional" type="xsd:string"/>
<xsd:attribute name="type" use="optional" type="mcrdefaulttype"/>
<xsd:attribute ref="xml:lang" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="class" type="xsd:string" use="required" fixed="MCRMetaAccessRule"/>
<xsd:attribute name="heritable" type="xsd:boolean" use="optional"/>
<xsd:attribute name="notinherit" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
    </xsd:all>
<xsd:attribute ref="xml:lang"/>
</xsd:complexType>
</xsd:schema>
